<form id="espp-form" autocomplete="off" action="#" novalidate>
  <div class="row mb-3">
    <label for="ticker" class="col-sm-2 col-form-label">Ticker</label>
    <div class="col-sm-6">
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="ticker" name="ticker" maxlength="5" placeholder="e.g., AAPL" data-bs-toggle="tooltip"
          title="Add stock ticker here and click 'Get data' button to populate latest price and volatility" autocomplete="off" required>
        <button class="btn btn-outline-secondary" onclick="populateStockChart(event)">Get data</button>
        <div class="invalid-feedback">
          Invalid ticker
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="price" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-6">
      <div class="input-group has-validation">
        <span class="input-group-text">$</span>
        <input type="number" step=".01" min="0" class="form-control" id="price" placeholder="e.g., 102.44" value="28.00"
          data-bs-toggle="tooltip"
          title="Latest stock price — you can auto-populate via the 'Get data' button or add yourself">
          <div class="invalid-feedback">
            Must be a positive number
          </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="volatility" class="col-sm-2 col-form-label">Volatility</label>
    <div class="col-sm-6">
      <div class="input-group has-validation">
        <input type="number" step=".01" min="0" class="form-control" id="volatility" placeholder="e.g., 10.5 for 10.5%" value="20.0"
          data-bs-toggle="tooltip"
          title="Latest annualized volatility — you can auto-populate via the 'Get data' button or add yourself">
        <span class="input-group-text">%</span>
        <div class="invalid-feedback">
          Must be a positive number
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button class="btn btn-primary" onclick="getPayoffData(event)">Calculate ESPP value</button>
    </div>
  </div>
</form>
<br>