<div class="modal fade" id="stockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Stock data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">

          <div class="row">
            <div class="col">
              <canvas id="price-history"></canvas>
            </div>
          </div>
        </div>
        <p>We care about two datapoints for a given stock:</p>
        <ul>
          <li>Latest price</li>
          <li>Annualized volatility</li>
        </ul>
        <h6>Latest price</h6>
        <p>The latest price matters because of the sahres cap: You can only purchase up to the lower of the shares cap or $12,500 —
              so a lower stock price may mean you hit the shares cap and cannot deploy the full $12,500, thus lowering your payoff.
        </p>

        <h6>Annualized volatility</h6>
        <p>Annualized volatility is the <strong>variance (i.e., the square of the standard deviation) of the daily
          percent change in the stock price.</strong> It's critically important for the value of the ESPP.</p>

        <p>To understand why, you first need to understand that an ESPP behaves similarly to a call option — i.e.,
          <strong>you have capped downside but potentially unlimited upside.</strong> Given the capped downside, an option
          is more valuable when the expected spread in values from its current value is highest.
        </p>
        <p>See the bottom section of the tool for a more detailed explanation of why volatility matters.</p>
      </div>
    </div>
  </div>
</div>