<div class="modal fade" id="stockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Stock data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <canvas id="price-history"></canvas>
          </div>
          <p>We care about two datapoints for a given stock:</p>
          <ul>
            <li>Latest price</li>
            <li>Annualized volatility</li>
          </ul>
          <h6>Latest price</h6>
          <p>The latest price matters for two reasons: 
            <ul>
              <li><strong>Shares cap:</strong> You can only purchase 1000 shares in total, 
                irrespective of the stock price. If the ~$14.70, you can deploy less capital and therefore 
                get a lower return
              </li>
              <li><strong>Proximity to $0:</strong> The closer a stock price is to $0, the more likely it is that it can end up at $0!</li>
            </ul>
          </p>

          <h6>Annualized volatility</h6>
          <p>Annualized volatility is the <strong>variance (i.e., the square of the standard deviation) of the daily 
            percent change in the stock price.</strong> It's critically important for the value of the ESPP.</p>

          <p>To understand why, you first need to understand that an ESPP behaves similarly to a call option — i.e., 
            <strong>you have capped downside but potentially unlimited upside.</strong> Given the capped downside, an option 
            is more valuable when the expected spread in values from its current value is highest.
          </p>
        </div>
      </div>
    </div>
  </div>