<h2>Valuing the replicating portfolio</h2>
<p>
    Now, we have a replicating portfolio consisting of
    <ul>
        <li>150 shares of stock</li>
        <li>Negative exposure to 150 call options at a strike price of $14.70</li>
        <li>Positive exposure to 525 call options at a strike price of $28.00</li>
    </ul>
    Valuing the stock is straightforward: 150 shares x $28.00 = $4,300. But what about the call options?
</p>    
<div class="row">
    <div class="col-sm-5">
        <p>
            The mechanics of option pricing are beyond the scope of this website, but what's <strong>most important to grasp is 
            that the higher the volatility, the higher the option value.</strong> I.e., an ESPP companies with steady stock prices
            is lower than that of highly unpredictable stock prices.
        </p> 
        <p>
            To see why this is, consider the chart on the right which shows a call option with a $4 strike price. Because an 
            option has an asymmetric payoff:
            <ul>
                <li>If you buy a <strong>$100 share of Apple</strong> and it goes up to $200, you make $100. If it goes down to $0, you lose $100</li>
                <li>
                    If you buy a <strong>call option for Apple stock with a strike price of $100 for $10</strong> and it goes up to $200, you make $100. 
                    If it goes to $0, you're only out the $10!
                </li>
            </ul>
            Because of this dynamic, as a call option holder you <strong>prefer a stock that is likely to go to $200 or $0 more than
            a stock is that is likely to go to $110 or $90!</strong>
        </p>
    </div>
    <div class="col-md-7">
        <div class="row" style="height: 300px">
            <canvas id="volatility-chart"></canvas>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="btn-group btn-group-sm col-sm-4" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="ten-volatility-btn" autocomplete="off" onclick="toggleVolatilityChart(10)">
                <label class="btn btn-outline-primary" for="ten-volatility-btn">10%</label>
            
                <input type="radio" class="btn-check" name="btnradio" id="fifty-volatility-btn" autocomplete="off" onclick="toggleVolatilityChart(50)" checked>
                <label class="btn btn-outline-primary" for="fifty-volatility-btn">50%</label>
            
                <input type="radio" class="btn-check" name="btnradio" id="one-hundred-volatility-btn" autocomplete="off" onclick="toggleVolatilityChart(100)">
                <label class="btn btn-outline-primary" for="one-hundred-volatility-btn">100%</label>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="height: 300px">
            <canvas id="value-chart"></canvas>
        </div>
    </div>
</div>

    <h3>Valuing call options</h3>
    <p>Diving into the specifics of the Black-Scholes option pricing model is outside the scope of this site. 
    The critical takeaways for our purposes are:
    <ul>
        <li>The lower the call price is relative to the current price, the higher the value of the option</li>
        <li>The higher the volatility of the stock, the higher the value of the option</li>
    </ul>
    </p>
    {% include "stock-modal.html" %}
</div>